@import "src/assets/variables";

.Content {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &Left {
    display: flex;
    flex-direction: column;
    align-items: center;

    &Img {
      background-color: #d5d5d5;
      border-radius: 12px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
      overflow: hidden;
      display: flex;
      align-items: center;

      img {
        width: 200px;
        max-height: 200px;
      }
    }
  }
  &Fields {
    display: flex;
    flex-direction: column;
  }
  .btns {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: end;
  }
}
.head {
  border-bottom: #fff 4px solid;

  h2 {
    font-weight: 500;
    padding: 0;
  }
}

@include desktopXL {
  .head {
    h2 {
      font-size: 40px;
      margin: 30px 0 30px 100px;
    }
  }
  .Content {
    margin-top: 60px;
    gap: 50px;

    &Left {
      gap: 10px;
      &Img {
        width: 200px;
        height: 200px;
      }
    }
    &Fields {
      gap: 25px;
    }
    .btns {
      gap: 50px;
      margin-top: 25px;

      .Button {
        width: 200px;
        height: 45px;
        font-size: 22px;
      }
    }
  }
}
@include desktopL {
  .head {
    h2 {
      font-size: 40px;
      margin: 30px 0 30px 100px;
    }
  }
  .Content {
    margin-top: 60px;
    gap: 50px;

    &Left {
      gap: 10px;
      &Img {
        width: 200px;
        height: 200px;
      }
    }
    &Fields {
      gap: 25px;
    }
    .btns {
      gap: 50px;
      margin-top: 25px;
    }
  }
}
@include desktopS {
  .head {
    h2 {
      font-size: 40px;
      margin: 30px 0 30px 100px;
    }
  }
  .Content {
    margin-top: 60px;
    gap: 50px;

    &Left {
      gap: 10px;
      &Img {
        width: 200px;
        height: 200px;
      }
    }
    &Fields {
      gap: 25px;
    }
    .btns {
      gap: 50px;
      margin-top: 25px;
    }
  }
}
@include mobile {
  .head {
    h2 {
      font-size: 40px;
      margin: 30px 0 30px 100px;
    }
  }
  .Content {
    margin-top: 60px;
    gap: 50px;
    display: flex;
    flex-direction: column;

    &Left {
      gap: 10px;
      &Img {
        width: 200px;
        height: 200px;
      }
    }
    &Fields {
      gap: 25px;
    }
    .btns {
      gap: 50px;
      margin-top: 25px;
    }
  }
}







