$borderColorTestPage: #000;
$blueBg: #708FDD;
$textColor: #282c34;

$breakpoint_xxl: 3840px;
$breakpoint_xl: 2560px;
$breakpoint_l: 1920px;
$breakpoint_sm: 1000px;


@mixin d-flex-u($ai: center, $jc: center, $fd: row) {
  display: flex;
  align-items: $ai;
  justify-content: $jc;
  flex-direction: $fd;
}

@mixin desktopXL() {
  @media (max-width: $breakpoint_xxl) {
    @content;
  }
}
@mixin desktopL() {
  @media (max-width: $breakpoint_xl) {
    @content;
  }
}
@mixin desktopS() {
  @media (min-width: 1000px) and (max-width: $breakpoint_l) {
    @content;
  }
}
@mixin mobile() {
  @media (max-width: $breakpoint_sm) {
    @content;
  }
}

























