.head {
  border-bottom: #fff 4px solid;

  h2 {
    font-weight: 500;
    font-size: 40px;
    margin: 0;
    padding: 30px 0 30px 7%;
  }
}

.Content {


  &Sections {


    &Image {
      width: 200px;
      height: 80px;
      background-color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    }
  }
}
