.head {
  border-bottom: #fff 4px solid;
  h2 {
    font-weight: 500;
    font-size: 40px;
    margin: 0;
    padding: 30px 0 30px 7%;
  }
}
.Content {
  max-width: 700px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &Fields {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 40px;

    .TextField {
      width: 300px;
    }
  }
  .Button {
    width: 300px;
    margin-top: 25px;
    margin-bottom: 40px;
  }
}