@import "src/assets/variables";

.field {
  display: flex;
  align-items: center;

  .TextField {
    width: 450px;
  }
}
@include desktopXL {
  .field {

  }
}
@include desktopL {
  .field {

  }
}
@include desktopS {
  .field {

  }
}
@include mobile {
  .field {

  }
}


















