@import "src/assets/variables";

.body {
  background-color: #9AB0FF;
  height: 100vh;
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.71);

  header {
    background-color: #567EB9;
    display: flex;
    justify-content: space-between;
    font-weight: 500;

    a {
      color: white;
      text-decoration: none;
    }

    ul {
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    li {
      font-weight: 400;
      list-style-type: none;
      cursor: pointer;
    }
  }
}
@include desktopXL {
  .body {
    max-width: 2000px;

    header {
      font-size: 40px;

      a {
        margin: 65px 0 0 100px;
      }
      ul {
        margin: 65px 0;
        flex: 0.5;
      }
      li {
        font-size: 40px;

        a {
          margin: 65px 40px;
        }
      }
    }
  }
}
@include desktopL {
  .body {
    max-width: 1800px;

    header {
      font-size: 37px;

      a {
        margin: 55px 0 0 100px;
      }
      ul {
        margin: 55px 0;
        flex: 0.5;
      }
      li {
        font-size: 37px;

        a {
          margin: 55px 40px;
        }
      }
    }
  }
}
@include desktopS {
  .body {
    max-width: 1440px;

    header {
      font-size: 27px;

      a {
        margin: 35px 0 0 100px;
      }
      ul {
        margin: 35px 0;
        flex: 0.5;
      }
      li {
        font-size: 27px;

        a {
          margin: 35px 25px;
        }
      }
    }
  }
}
@include mobile {
  .body {
    max-width: 500px;
    margin: auto;
    header {
      font-size: 15px;
      a {
        margin: 10px 0;
        padding: 0 7px;
      }
      ul {
        margin: 0;
      }
      li {
        font-size: 15px;
        margin: 10px 0;
        a {
          font-size: 15px;
          margin: 10px 0;
          padding: 0 7px;
        }
      }
    }
  }
}









































































