
.ContentBody {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 100px 0;

  &List {
    width: 700px;
    height: 600px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    .List {
      width: 210px;
      height: 500px;
      background-color: #CAC3C3;
    }
    .Image {
      width: 380px;
      height: 320px;
      border-radius: 10px;
      background-color: #CAC3C3;
    }
    .ListSelector {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      gap: 37px;

      .Selector {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 70px;

        .TriangleRight, .TriangleLeft {
          width: 30px;
          height: 60px;
          padding: 5px;
          margin: 0;
          cursor: pointer;
        }
        .TriangleRight {
          transform: rotate(180deg);
        }
        p {
          font-size: 18px;
        }
      }
      Button {
        width: 380px;
        transition: transform 0.2s ease-in-out;
        display: flex;
        align-items: center;

        .RefreshIcon {
          -webkit-transition: -webkit-transform .8s ease-in-out;
          transition: transform .8s ease-in-out;
          margin-right: 20px;
        }

        &:hover {
          transform: scale(1.03);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.24);

          .RefreshIcon {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
          }
        }
      }
    }
  }
  &TitleImage {
    width: 500px;
    height: 600px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    span {
      font-size: 30px;
    }
    &Push {
      .ButtonPush {
        width: 380px;
      }
    }
    .TitleImageBtns {
      display: flex;
      flex-direction: row;
      gap: 40px;

      .Button {
        width: 170px;
      }
    }
  }
}
.head {
  border-bottom: #fff 4px solid;

  h2 {
    font-weight: 500;
    font-size: 40px;
    margin: 0;
    padding: 30px 0 30px 7%;
  }
}
.Image {
  width: 380px;
  height: 320px;
  background-color: #CAC3C3;
  border-radius: 10px;
  display: flex;
  align-items: center;
  overflow: hidden;

  img {
    width: 380px;
    max-height: 320px;
  }
}